.main-containers {
  min-width: 80%;
  padding: 1.5rem;

  .header-containers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    .search-containers {
      display: flex;
      justify-content: center;
      align-items: center;
      div {
        padding: 0 0.2rem;
      }
    }
    .button-add-material {
      display: flex;
      justify-content: center;
      align-items: center;
      button{
        min-width: 25px;
        min-height: 25px;
    }
    }
  }

  .table-material {
    overflow-x: auto;
    padding:  0.5rem 0;
  }
  .button-save {
    display: flex;
    justify-content: end;
    button{
        min-width: 60px;
        height: 25px;
    }
  }
}

.input-location {
  width: 130px;
}


